*.d
*.o
*.a
*~
/Makefile.conf
/config.h
/config.h.in
/config.status
/config.log
/configure
/autom4te.cache
/emxdoc/emxdoc
/fuse/aefsfuse
/nfsd/aefsadd
/nfsd/aefsctrl.h
/nfsd/aefsctrl_clnt.c
/nfsd/aefsctrl_svc.c
/nfsd/aefsctrl_xdr.c
/nfsd/aefsnfsd
/nfsd/mount.h
/nfsd/mount_svc.c
/nfsd/mount_xdr.c
/nfsd/nfs_prot.h
/nfsd/nfs_prot_svc.c
/nfsd/nfs_prot_xdr.c
/utils/aefsck
/utils/aefsdump
/utils/aefsutil
/utils/mkaefs
